@import "../imports/variables.less";
@import "../imports/mixins.less";

:host {
  display: block;
  width:100%;
  color:@theme-content-color;
  font-family:@theme-font ;
  line-height:1.5em;
  box-sizing:border-box;
  font-size:16px;
  font-weight:400;

}
:host ::content > h1{
  color:@theme-color;
  font-family: @theme-font;
  font-weight:800;
  line-height:1.3em;
}
:host ::content{
   text-align: center;
}
input[type=text], select, textarea, option, input#cityorpostalcode{
  font-family:@theme-font;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
#search{
  text-align:center;
}
paper-button{
  text-transform: none;
  border-radius:0;
  padding-left:4em;
  padding-right:4em;
  font-family:'ITCAvantGardeStd', sans-serif;
  font-weight:800;
}
#find-my-location{  
  color:@theme-color;
  border: 1px solid @theme-color;
  margin-top:20px;
  margin-bottom:20px;
}
form{
  border-top: 1px solid @line-color;
  width:auto;
  max-width:620px;
  margin:auto;
  padding-top:20px;
  .form-layout{
    box-sizing: border-box;
    width:100%;
    text-align:left;
    position:relative;
    overflow:visible;
    float:left;
    padding:10px;
  }
  input, select{
    border:1px solid @line-color;
    box-sizing: border-box;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    color:@theme-content-color;
    display: block;
    width: 100%;
    height: 50px;
    float: right;
    margin: 12px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    background-image: none;
    &:focus,&:active,&:hover {
      border: 1px solid @theme-color;
    }
  }
  .selectdiv{
    position:relative;
  }
  .selectdiv:after{
      content: '< >';
      font-size: 12px;
      font-weight:bolder;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      right: 11px;
      /*Adjust for position however you want*/
      color:#ccc;
      top: 22px;
      padding: 0 0 2px;
      /*left line */
      
      position: absolute;
      pointer-events: none;
      outline:none;
  }
  select{
    &::-ms-expand {
      display: none;
    }
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */
    border: 1px solid @line-color;
    -ms-word-break: normal;
    word-break: normal;
    border-radius:0;
  }
  paper-button{
    box-sizing: border-box;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    color:white;
    display: block;
    width: 100%;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    font-family:'ITCAvantGardeStd', sans-serif;
    background-color: @theme-color;
    margin-top:2.2em;
    line-height:3em;
    text-align: center;
  }
}
google-map{
  width:100%;
  height:500px;
  border:1px solid @line-color;
  
}
#list{
  overflow:visible;
   height: 550px !important;
  // height:700px;
}

#errorCity, #errorProvince{
  color:@theme-color;
  display: block;
  position:absolute;
  bottom:4.5em;
}

#searchError p {
  color:red;
}


@media screen and (min-width:415px){
  form .form-layout{
    width:50%;
  }
  iron-form input, iron-form select, iron-form paper-button{
    max-width:320px;
  }
  ::slotted(*){
    text-align: left;
  }
}

@media screen and (min-width:768px){
  #list{
    height:500px;
  }
  #iron-pages{
    float:right;
    overflow:hidden;
  }
  google-map{
    width:50%;
  }
  iron-pages{
    box-sizing: border-box;
    width:50%;
    padding:10px;
    padding-top:0;
  }
  #search{
    text-align: left;
    padding-top:40px;
    padding-bottom:20px;
  }
}

