@import "../imports/variables.less";
@import "../imports/mixins.less";
:host {
    display: block;
    width: 100%;
    color: @theme-content-color;
    font-family: @theme-font ;
    line-height: 1.5em;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

:host ::content>h1 {
    color: @theme-color;
    font-family: @theme-font;
    font-weight: 800;
    line-height: 1.3em;
}

:host ::content {
    text-align: center;
}

input[type=text],
select,
textarea,
option,
{
    font-family: @theme-font;
}

#search {
    text-align: center;
}

paper-button {
    text-transform: none;
    border-radius: 0;
    padding-left: 4em;
    padding-right: 4em;
    font-family: 'ITCAvantGardeStd', sans-serif;
    font-weight: 800;
    margin: 0;
}

#find-my-location {
    background: @theme-color;
    color: #fff;
    border: 1px solid @theme-color;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    transition: all 0.15s ease-out;
}

#mapsOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#googleMap {
    width: 100%;
    height: 500px;
}

form {
    width: auto;
    fieldset {
        border: none;
        padding: 0;
        margin: 0;
        >* {
            box-sizing: border-box;
            width: 100%;
            display: block;
            text-align: left;
            position: relative;
            overflow: visible;
            margin-bottom: 12px;
            &.button-area {
                padding-top: 0;
                padding-bottom: 0;
            }
        }
    }
    input,
    select {
        border: 1px solid @line-color;
        box-sizing: border-box;
        -ms-transition: all 0.30s ease-in-out;
        transition: all 0.30s ease-in-out;
        outline: none;
        color: @theme-content-color;
        display: block;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 0px 24px;
        font-size: 16px;
        line-height: 1.75;
        background-image: none;
        &:focus,
        &:active,
        &:hover {
            border: 1px solid @theme-color;
        }
    }
    .selectdiv {
        position: relative;
    }
    .selectdiv:after {
        content: '< >';
        font-size: 12px;
        font-weight: bolder;
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        right: 11px;
        /*Adjust for position however you want*/
        color: #ccc;
        top: 13px;
        /*left line */
        position: absolute;
        pointer-events: none;
        outline: none;
    }
    select {
        &::-ms-expand {
            display: none;
        }
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        /* Add some styling */
        border: 1px solid @line-color;
        -ms-word-break: normal;
        word-break: normal;
        border-radius:0;
    }
}

// <neon-animated-pages>
#list {
    height: 100%;
}

#errorMessage {
    color: @theme-color;
    display: block;
    clear: both;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    text-align: left;
    p {
        margin: 0;
    }
}

@media screen and (min-width:768px) {
    #viewPanel {
        display: flex;
        flex-flow: row-reverse nowrap; //justify-content: space-between;
        google-map {
            width: 50%;
            min-width: 50%;
            margin-right: 15px;
        }
        #ironPages {
            flex-grow: 1;
        }
    }
}

@media screen and (min-width:1024px) {
    #viewPanel {
        google-map {
            margin-right: 25px;
        }
    }
}

@media (min-height:600px) and (max-width:767px) {
    #viewPanel {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    #googleMap {
        flex-grow: 1;
        width: 100%;
        height: auto;
    }
}