<dom-module id="option-select">

	<template strip-whitespace>

		<!-- Styles MUST be inside templatitudee -->



	</template>

	<script>Polymer({

			is: 'option-select',

			properties: {

				options: {
					type: Array,
					value: null
				},
				label: {
					type: String,
					value: "Label"
				},
				property: {
					type: String,
					value: null
				},
				selected: {
					type: String,
					value: null,
					observer: "_onSelectChange"
				}

			},

			listeners: {

			},

			_onSelectChange: function (newVal, oldVal) {

				this._selectValue(newVal);
			},

			ready: function () {
				if (this.options) {
					this.buildSelectInput(this.property, this.options);
				}
			},

			buildSelectInput: function (id, options) {

				var label = document.createElement('label');
				label.for = this.property;
				label.innerHTML = this.label;

				var wrapper = document.createElement('div');
				wrapper.classList.add('selectdiv');

				var elem = document.createElement('select');

				options.forEach(function (item) {
					var opt = document.createElement('option');
					opt.value = item.value;
					opt.innerHTML = item.label;
					if (item.selected) {
						opt.selected = true;
					}
					elem.appendChild(opt);
				});

				wrapper.appendChild(elem);

				elem.name = id;
				elem.id = id;

				elem.classList.add('find-an-alpha');
				wrapper.classList.add('find-an-alpha');

				this.appendChild(label);
				this.appendChild(wrapper);
			},

			_selectValue: function (value) {
				var opts = this.querySelectorAll('option');
				opts.forEach(function (opt) {
					if (opt.value === value || opt.label === value) {
						opt.selected = true;
					} else {
						opt.selected = false;
					}
				});
			}
		});

	</script>

</dom-module>